a {
    text-decoration: none
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-bottom: 15px 0 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

/* ==================================================
                    HEADER FOOTER
===================================================*/

header {
    border-bottom: 1px solid #e2e2e2;
}

header,
footer {
    background: #ffffff;
    align-items: center;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}

header .logo,
footer .logo {
    flex-grow: 1;
    height: 22px
}

header .logo span,
footer .logo span {
    background: url('../images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer {
    background: #1f1f1f;
    margin-top: 30px;
}

/* ==================================================
                    SLIDER
===================================================*/

.slider-item {
    height: 500px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
}

.slider-item .caption {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    text-align: right;
    width: 320px;
    text-transform: uppercase;
}

.slider-item .caption h4 {
    font-weight: 300;
    margin: 0;
}

.slider-item .caption p {
    font-size: 70px;
    margin-top: 0px;
}

/* ==================================================
                    SUBSCRIBE
===================================================*/

.subscribe-panel {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.subscribe-panel h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

.subscribe-panel .error {
    display: none;
    visibility: hidden;
    color: #f44336;
    transition: .3s all ease-out
}

.subscribe-panel .success {
    display: none;
    visibility: hidden;
    color: #4cfa50;
    transition: .3s all ease-out
}

.subscribe-panel .error.show,
.subscribe-panel .success.show {
    display: block;
    visibility: visible;
}

.subscribe-panel input {
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0px
}

.subscribe-panel input:focus {
    outline-width: 0;
}

.subscribe-panel small {
    font-size: 10px;
    line-height: 0px;
}



/* ==================================================
                    BLOCKS
===================================================*/
.home-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px
}

.home-blocks .item{
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}

.home-blocks .item.lg {
    width: 50%;
    -webkit-animation-delay: 200ms;
    -moz-animation-delay : 200ms
    
}

.home-blocks .item.md {
    width: 30%;
    -webkit-animation-delay: 500ms;
    -moz-animation-delay : 500ms

}

.home-blocks .item.sm {
    width: 20%;
    -webkit-animation-delay: 700ms;
    -moz-animation-delay : 700ms


}

.home-blocks .item .image{
    height: 270px;
    background-size: cover !important;
    background-position: center center !important;
}

.home-blocks .item .title{
    background: #000000;
    padding: 10px;
    transition: all 500ms ease-in-out
}

.home-blocks .item:hover .title {
     transform: translate(0px, -39px);
     transition: all 500ms ease-in-out
}
.home-blocks .item:hover .title a{
    color: #fff;
}

.home-blocks .item .veil {
    background: #000000;
    opacity: .7;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transition: all 500ms ease-in-out
}
.home-blocks .item:hover .veil {
    opacity: 0;
}


/* ==================================================
                    POLLS
===================================================*/


.home-poll{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.poll-container {
    display: flex;
}

.poll-container .poll-item{
    padding: 20px;
    flex-grow: 1;
}

.poll-container .poll-item img{
    width: 80%
}

.poll-container .poll-item div{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px
}

/* ==================================================
                    TEAMS
===================================================*/
.team-component {
    min-height: 800px;

}

.teams {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
    background: #e6e6e6;
}

.teams input {
    text-align: center;
    padding: 8px 0px;
    font-family: 'Roboto';
    border: 1px solid lightgray;
    color: black;
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px;
}

.teams input:focus{
    outline: none
}

.teams-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.teams-container .team-item{
     width: 25%;
     padding: 30px;
     box-sizing: border-box
}

.teams-container .team-item img{
    width: 100%;
}

/* ==================================================
                    TEAM
===================================================*/
.team-data-wrapper {
    display: flex;
}

.team-data-wrapper .left{
    box-sizing: border-box;
    padding: 10px 20px
}
.team-data-wrapper .right{
    flex-grow: 1;
    box-sizing: border-box;
    border-left: 1px solid #b9b9b9;
    padding: 0px 20px
}

.team-data-wrapper .left img {
    width: 150px;
}

.team-data-wrapper h1{
    color: #6d6d6d;
}

.team-data-wrapper .squad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.team-data-wrapper .squad .item{
    position: relative;
    width: 25%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.team-data-wrapper .squad .item h4{
    text-align:center; 
    color: #006bb6
}



.team-data-wrapper .squad .item img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.team-data-wrapper .squad .item .node{
    font-size: 14px;
    padding: 40px 0;

}
.team-data-wrapper .squad .item .node span{
    font-weight: 600;
}
